<!-- Once the API data has been passed to Watson and ran through analysis it is then rendered to this HTML page
    Javascript is then written into the HTML with EJS tags

    href links some CSS styling 
-->

<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>good reads</title>
    <link href="/goodReads.css" rel="stylesheet" />
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css"
      integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS"
      crossorigin="anonymous"
    />
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.2/Chart.js"></script>

  </head>

  <body class="bodyClass">
      <div class="container">
          <div class="col">
              <nav class="navbar navbar-expand-lg navbar-light bg-light" >
                  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                  </button>
                  <div class="collapse navbar-collapse d-flex justify-content-center" id="navbarNav" >
                    <ul class="navbar-nav">
                      <li class="nav-item active">
                        <a class="nav-link" href="authorHome">Home <span class="sr-only">(current)</span></a>
                      </li>
                    </ul>
                  </div>
                </nav>
          </div>
        </div>
        <div class="row">
            <div class="col one d-flex justify-content-center">
                <div class="card" style="width: 20rem; height: 20rem;">
                    <img src="<%=result[6]%>" class="card-img-top" alt="author-picture">
                    <div class="card-body">
                      <p class="card-text d-flex justify-content-center"><%= result[5] %></p>
                    </div>

                  </div>
            </div>
          </div>
      </div class="row">
      <div class='col d-flex justify-content-center'>
        <p class='text'>Big five personality traits</p>
      </div>
      <div class='col d-flex justify-content-center'>
          <div class="chart-container" style="position: relative; height:20vh; width:40vw">
          <canvas id="myChart"></canvas>
        </div>
          <script>
          Chart.defaults.global.legend.display = false;
          var ctx = document.getElementById("myChart");
          var myChart = new Chart(ctx, {
              type: 'horizontalBar',
              options: {
                responsive: true,
                maintainAspectRatio: false, 
                legend: {
                  position: 'bottom'
                }
              },
              data: {
                  labels: ["Openness", "Concientiousness", "Extraversion", "Agreeableness", "Neuroticism"],
                  datasets: [{
                      data: ['<%= result[0].percentile %>', '<%= result[1].percentile %>', '<%= result[2].percentile %>', '<%= result[3].percentile %>', '<%= result[4].percentile %>'],
                      backgroundColor: [
                          'rgba(255, 99, 132, 0.2)',
                          'rgba(54, 162, 235, 0.2)',
                          'rgba(255, 206, 86, 0.2)',
                          'rgba(75, 192, 192, 0.2)',
                          'rgba(153, 102, 255, 0.2)'
                      ],
                      borderColor: [
                          'rgba(255,99,132,1)',
                          'rgba(54, 162, 235, 1)',
                          'rgba(255, 206, 86, 1)',
                          'rgba(75, 192, 192, 1)',
                          'rgba(153, 102, 255, 1)'
                      ],
                      borderWidth: 0.2
                  }]
              },
              options: {
                  scales: {
                      yAxes: [{
                          ticks: {
                              beginAtZero:true
                          }
                      }]
                  }
              }
          });
          </script>
      </div>
      <div>
      </div>
  </div>


    <script
      src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
      integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js"
      integrity="sha384-wHAiFfRlMFy6i5SRaxvfOCifBUQy1xHdJ/yoi7FRNXMRBu5WHdZYu1hA6ZOblgut"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js"
      integrity="sha384-B0UglyR+jN6CkvvICOB2joaf5I4l3gm9GU6Hc1og6Ls7i6U/mkkaduKaBhlAXv9k"
      crossorigin="anonymous"
    ></script>
  </body>
</html>



<!-- <h2>The result of your author is...</h2>
<%result.forEach((element) => { %>
<div class="box">
  <h1><%= element.trait_id %></h1>
  <p>raw score: <%= element.raw_score %></p>
</div>
<% }) %> -->
